<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Kundenverwaltung
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-card>
   <ion-row>
     <ion-col size="8">
       <ion-card>
         <ion-card-header>
           <ion-card-title>Kunden </ion-card-title>
         </ion-card-header>
       </ion-card>
     </ion-col>
     <ion-col size="4">
       <ion-card>
         <ion-card-header>
           <ion-card-title>Kunden Liste</ion-card-title>
         </ion-card-header>
         <ion-card-content>
           <ion-list>
             <ion-item>
               <ion-label>Markus Meier</ion-label>
               <ion-button><ion-icon name="hammer-outline"></ion-icon></ion-button>
             </ion-item>
           </ion-list>
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
 </ion-card>
</ion-content>
