.card-list-checkbox-content{
  margin-right: 5px;
  ion-label{
    margin-right: 5px;
  }
  ion-checkbox{
    margin-right: 5px;
  }
}
.button-content{
  text-align: right;
  background-color:#696969;
}
