<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Kunden
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-searchbar placeholder="Kunde Filtern"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-label slot="end">Kunde</ion-label>
          <ion-button href="customer-create">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-list *ngFor="let result of customer">
        <ion-item>
          <ion-label>{{result.firstName}} {{result.lastName}}</ion-label>
          <ion-button (click) ="loadCustomer(result)">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
          <ion-button >
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
